<div id="<%= dom_id quiz %>">
  <p>
    <strong>Id:</strong>
    <%= quiz.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= quiz.name %>
  </p>

  <p>
    <strong>Quesion number:</strong>
    <%= quiz.quesion_number %>
  </p>

</div>
