<h1>Editing booktitle</h1>

<%= render "form", booktitle: @booktitle %>

<br>

<div>
  <%= link_to "Show this booktitle", @booktitle %> |
  <%= link_to "Back to booktitles", booktitles_path %>
</div>
