<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .heading {
        color: green
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>